<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435021828613-8ggf1reu3j2oop9egbk8gbu9lu11hnbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435021828613-8ggf1reu3j2oop9egbk8gbu9lu11hnbe</string>
	<key>API_KEY</key>
	<string>AIzaSyCIcFCHDg8F7uRyiZ3uylPSp-k_At7D7ho</string>
	<key>GCM_SENDER_ID</key>
	<string>435021828613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fuzzyAlpha.mlForUsers</string>
	<key>PROJECT_ID</key>
	<string>idc-skyidlib</string>
	<key>STORAGE_BUCKET</key>
	<string>idc-skyidlib.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435021828613:ios:7808a9a359ad678a9f426c</string>
	<key>DATABASE_URL</key>
	<string>https://idc-skyidlib.firebaseio.com</string>
</dict>
</plist>